.footer {
    background-color: rgb(20, 37, 20);
    background: #FAF9F3;
    text-align: center;
    padding: 10px 10px;
    width: 100%;
}
/* 
.main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 7%;
}
*/

/* issue one */
/* .footer-item-left, .footer-item-right {
    width: 45%;
} */

.footer-list-1, .footer-list-2 {
    list-style: none;
    padding: 0;
    margin: 0;
}


.footer-list-1 li, .footer-list-2 li {
    margin-bottom: 0px;
} 

/* decorate links */
.footer-list-1 li a, .footer-list-2 li a {
    text-decoration: none;
    font-size: 0.9rem;
    color: rgb(10, 19, 10);
}

/* hover on links */
.footer-list-1 li a:hover, .footer-list-2 li a:hover {
    /* text-decoration: underline; */
    color: rgb(11, 80, 2);
}

/* social icon direction */
.footer-list-2 .socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

/* social icon size */
.footer-list-2 .socials img {
    width: 30px;
    height: 30px;
}
